<h2> About Me </h2>
<p></p>
<h3>The Beginners Mind</h3>
<p></p>
<h4>"In the beginner's mind there are many possibliites, but in the experts there are few." --Shunryu Suzuki</h4>
<p></p>
<p> In Zen Buddhism, the beginners mind “refers to having an attitude of openness, eagerness, and lack of preconceptions when studying a subject...” <a href="http://en.wikipedia.org/wiki/Shoshin"> (Wikipedia)</a></p>

<p> I had a long career in advertising -- 13 years to be exact. It was a great career. I lived in Los Angeles and New York, and helped build some of the largest brands in the world. I am an expert at building and maintainging client relationships. And can whip up a marketing plan, fast. However, after 13 years, my mind needed to be challenged. </p>

<p> Approaching this intensive programming class with the mind of a marketer forced me to view the world with a 'beginners mind.' And it has been fabulous. Gut-wrenching. Tough. Filled with fear and self-doubt. But nonetheless, fabulous. After spending so many years in the same industry, it is refreshing and exhilarting to challenge my mind and push myself into an entirely new industry. </p>

<p> My plan is to continue to push myself. To only get better at Ruby and Rails, and to then, push myself more. To be a software developer is to be in a constant state of 'beginners mind.' And so I will hone my craft, and meld it with my marketers mind and see what I can bring the world!</p>

<p>If you'd like to see what I come up with, follow me on LinkedIn, GitHub and Twitter.</p>

<p> - Elaine Marino, August 2012 </p>

<span class="image">
  <%= link_to "http://www.linkedin.com/in/elainemarino" do %>
    <%= image_tag "Linkedin_Button.jpg", :class => 'linkedin button' %>
<% end %>
  <%= link_to "https://github.com/emarino13" do%>
  	<%= image_tag "github_button.png", :class => 'github button' %>
<% end %>
  <%= link_to "https://twitter.com/elaine_marino" do%>
  	<%= image_tag "twitter_button.png", :class => 'twitter button' %>
  <% end %>
</span>




