<h2> About Me </h2>

<p> Insert copy here </p>

<span class="image">
  <%= image_tag "Linkedin_Button.jpg"%>
  <%= image_tag "github_button.png"%>
  <%= image_tag "twitter_button.png"%>
</span>

<%= link_to "http://www.linkedin.com/in/elainemarino" %>
<%= link_to "https://github.com/emarino13"%>
<%= link_to "https://twitter.com/elaine_marino"%>
