<!DOCTYPE html>

<html>
  <body>
    <h2>Converting Temperatures Made Easy</h2>

    <span class="image">
      <%= image_tag "celsius.jpg", :class => 'celsius icon' %>
      <%= image_tag "fahrenheit.jpg", :class => 'fahrenheit icon' %>
    </span>

    <form action= <%= convert_converters_path %> method="post">
      <SELECT name="unit" class="buffer">
        <OPTION value="celsius">celsius</OPTION>
        <OPTION value="fahrenheit">fahrenheit</OPTION>
      </SELECT>

      <input type="text" name="temperature" class="temperature"/>
      <input type="submit" name="submit" value="Convert!"/>

      <% if @fahrenheit.present? then %>
        <p> <%= @fahrenheit %> degrees fahrenheit.</p>
      <% end %>

      <% if @celsius.present? then %>
        <p> <%= @celsius %> degrees celsius.</p>
      <% end %>

    </form>
  </body>
</html>
